PUID=1000
PGID=1000
TZ=Europe/London
LIBRARY_DIR=/home/james/.plex
FILMS_DIR=/mnt/BigMedia/Films
TV_DIR=/mnt/BigMedia/TV
DOWNLOAD_DIR=/mnt/BigMedia/Downloads
NORD_COUNTRY=United Kingdom
NORD_USER=nord-service-user
NORD_PASS=nord-service-pass
SAMBA_USER=james
SAMBA_PASS=a-password