[Unit]
Description=Docker Based Media Server
Requires=docker.service

[Service]
Type=simple
ExecStartPre=/usr/local/bin/docker compose pull
ExecStartPre=/usr/local/bin/docker image prune -f
ExecStart=/usr/local/bin/docker compose up
ExecStop=/usr/local/bin/docker compose down
WorkingDirectory=/home/james/projects/jet-plex
Restart=on-failure
TimeoutStartSec=3600
User=james
Group=james

[Install]
WantedBy=multi-user.target
